XTerm.vt100.background: black
XTerm.vt100.foreground: white

XTerm.vt100.faceName: xos4 Terminus:antialias=false
XTerm.vt100.faceSize: 12
XTerm.vt100.translations: #override \
    Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
    Shift Ctrl <Key> V: insert-selection(CLIPBOARD)

! special
*.foreground:   {{ .colours.fg }}
*.background:   {{ .colours.bg }}
*.cursorColor:  {{ .colours.fg }}

! black
*.color0:       {{ .colours.blackd }}
*.color8:       {{ .colours.black }}

! red
*.color1:       {{ .colours.redd }}
*.color9:       {{ .colours.red }}

! green
*.color2:       {{ .colours.greend }}
*.color10:      {{ .colours.green }}

! yellow
*.color3:       {{ .colours.yellowd }}
*.color11:      {{ .colours.yellow }} 

! blue
*.color4:       {{ .colours.blued }}
*.color12:      {{ .colours.blue }}

! magenta
*.color5:       {{ .colours.magentad }}
*.color13:      {{ .colours.magenta }}

! cyan
*.color6:       {{ .colours.cyand }}
*.color14:      {{ .colours.cyan }}

! white
*.color7:       {{ .colours.whited }}
*.color15:      {{ .colours.white }}

