*.faceName: xos4 Terminus:antialias=false
*.faceSize: 12
*.translations: #override \
    Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
    Shift Ctrl <Key> V: insert-selection(CLIPBOARD)

! special
*.foreground:  #{{ .colours.lightgrey }}
*.background:  #{{ .colours.black }}
*.cursorColor: #{{ .colours.lightgrey }}

! black
*.color0:      #{{ .colours.black }}
*.color8:      #{{ .colours.grey }}

! red
*.color1:      #{{ .colours.red }}
*.color9:      #{{ .colours.red }}

! green
*.color2:      #{{ .colours.green }}
*.color10:     #{{ .colours.green }}

! yellow
*.color3:      #{{ .colours.yellow }}
*.color11:     #{{ .colours.yellow }} 

! blue
*.color4:      #{{ .colours.blue }}
*.color12:     #{{ .colours.blue }}

! magenta
*.color5:      #{{ .colours.magenta }}
*.color13:     #{{ .colours.magenta }}

! cyan
*.color6:      #{{ .colours.cyan }}
*.color14:     #{{ .colours.cyan }}

! white
*.color7:      #{{ .colours.white }}
*.color15:     #{{ .colours.lightgrey }}
